@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@font-face {
    font-family: "SV";
    src: url(../../fonts/SDV-Fonts/Stardew_Valley.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MR";
    src: url(../../fonts/minecraft-font/MinecraftRegular-Bmg3.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MT";
    src: url(../../fonts/minecraft-ten-font/MinecraftTen-VGORe.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans";
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}
  
*::-webkit-scrollbar-track {
    background: #fff;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #0468c7;
    border-radius: 20px;
}

:root {
    --btn_border_color: #371a17; 
    --btn_bgc: #dc7b06;
    --font_color: #371a17;
    --btn_bgc_h: #865711;
    --font_h: #e0a100;
    --btn_border_color_2: #050094; 
    --btn_bgc_2: #0059ff;
    --font_color_2: #fff;
    --btn_bgc_h_2: #012add;
    --bgc_strip: #dcffca;
}

#wrapper {
    overflow: hidden;
}